dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.iml
.idea/*.xml
.idea/modules/
.idea/libraries/
.idea/inspectionProfiles/
.gradle
/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
